sudo: false

language: node_js

node_js:
  - 12
  - 8

cache:
  yarn: true
  directories:
    - ".eslintcache"
    - "node_modules"

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
